* {
  margin: 0 auto;
  box-sizing: border-box;
  border-radius: 4px;
}

:root {
  --main-bgc: rgb(233, 226, 226);
  --main-col: rgb(46, 45, 45);
  --elem-bgc: rgb(184, 208, 149);
}

body {
  color: var(--main-col);
  background-color: var(--main-bgc);
}

.container {
  padding: 20px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-align: center;
}

.content {
  padding: 10px;
  width: 650px;

  border: solid 2px white;
}

header {
  background-color: var(--elem-bgc);
}

h1 {
  padding: 10px;
}

main {
  margin: 5px 0;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  background-color: var(--elem-bgc);
}

button {
  margin: 30px;
  width: 80px;
  height: 40px;
  font-size: 1.1em;
  border-radius: 20px;
  background-color: rgb(123, 202, 202);
}

button:hover {
  cursor: pointer;
}